#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.progress-number{
  font-size: 20px;
  color: #00e5ff;
  text-align: center;
  animation: glowPulse 1.5s infinite alternate;
}

@keyframes glowPulse {
  from {
    text-shadow: 0 0 5px #00e5ff, 0 0 10px #00e5ff;
  }
  to {
    text-shadow: 0 0 20px #00e5ff, 0 0 40px #00e5ff, 0 0 60px #00e5ff;
  }
}

.verify-card {
  width: 70vw;
  max-width: 900px;
  min-height: 70vh;
  padding: 40px;
  border-radius: 24px;
  text-align: center;
  background: linear-gradient(145deg, #0f172a, #1e293b);
  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
  color: white;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verify-card canvas,
.verify-card svg {
  width: 420px !important;
  max-width: 80vw;
  height: auto !important;
  margin-bottom: 20px;
  margin: auto;
}

.verify-step {
  font-size: 26px;
  margin-top: 20px;
  font-weight: 600;
  color: #38bdf8;
}

.verify-percent {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  text-shadow:
    0 0 10px #38bdf8,
    0 0 20px #38bdf8,
    0 0 40px #38bdf8;
}

body {
  background: radial-gradient(circle at center, #0f172a, #020617);
}
